<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
       
        body{
    margin-top:20px;
    background:#FAFAFA;
            }
            .order-card {
                color: #fff;
            }

            .bg-c-blue {
                background: linear-gradient(45deg,#4099ff,#73b4ff);
            }

            .bg-c-green {
                background: linear-gradient(45deg,#5cb9a6,#5ccab4);
            }

            .bg-c-yellow {
                background: linear-gradient(45deg,#FFB64D,#ffcb80);
            }

            .bg-c-pink {
                background: linear-gradient(45deg,#FF5370,#ff869a);
            }


            .card {
                border-radius: 5px;
                -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
                box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
                border: none;
                margin-bottom: 30px;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

            .card .card-block {
                padding: 25px;
            }

            .order-card i {
                font-size: 26px;
            }

            .f-left {
                float: left;
            }

            .f-right {
                float: right;
            }
      </style>  
</head>
  <body>
    <div class="container">
      <h1>Client List and Routing Table</h1>
      <div class="row">
        <% for (const entry of joinedArray) { %>
            <div class="col-md-6 col-xl-4">
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                        <h6 class="m-b-20"></h6>
                        <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span><%= entry.commonName %></span></h2>
                        <p class="m-b-0">
                            Real Address: <span class="f-right"><%= entry.realAddress %></span><br>
                            Virtual Address: <span class="f-right"><%= entry.virtualAddress %></span><br>
                            Bytes Received: <span class="f-right"><%= entry.bytesReceived %></span><br>
                            Bytes Sent: <span class="f-right"><%= entry.bytesSent %></span><br>
                            Connected Since: <span class="f-right"><%= entry.connectedSince %></span><br>
                            Last Ref: <span class="f-right"><%= entry.lastRef %></span><br>
                     </p>
                    </div>
                </div>
            </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
